@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-[#121517] dark:text-gray-100 transition-colors duration-300 font-display;
  }
}

.glass-header {
  backdrop-filter: blur(8px);
  background-color: rgba(246, 247, 248, 0.8);
}
.dark .glass-header {
  background-color: rgba(19, 27, 31, 0.8);
}

.project-card:hover {
  transform: translateY(-4px);
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #1a4b60;
}
